/* imports from google fonts */
@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Archivo&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");

body {
  font-family: "Quicksand", sans-serif;
}

/* Colors */
:root {
  --primary-white: #fff;
  --primary-black: rgb(72, 77, 92);
  --primary-pink: rgb(213, 185, 177);
  --primary-yellow: rgb(240, 177, 64);
  --primary-blue: rgb(69, 115, 115);
  --primary-green: rgb(115, 144, 134);
  --primary-purple: rgb(188, 148, 210);
  --secondary-blue: rgb(164, 189, 190);
  --primary-grey: rgb(216, 216, 214);
  --secondary-grey: rgb(97, 97, 97);
}

/*  --------------------- hide or show modal ------------------- */

.display-con {
  display: none;
}

/* ******************* Nav ***************** */
.navbar {
  background-color: var(--primary-white) !important;
  max-width: 100% !important;
  overflow-x: hidden;
}

.nav-wraper {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  padding-right: 10rem !important;
  padding-left: 10rem !important;
  border-bottom: 0.1rem solid var(--primary-black);
}

.navbar-brand {
  font-family: "Archivo", sans-serif;
  font-weight: 500 !important;
  font-size: 1rem;
  background-color: var(--secondary-blue) !important;
  color: var(--primary-white) !important;
  padding: 1rem;
}

.navbar li a {
  font-family: "Quicksand", sans-serif;
}

.profile-body {
  padding: 1.5rem;
  position: relative;
  width: 100%;
  height: 100%;
  top: 0;
}

/*  --------------------- GetProfile Info Section ------------------- */
.getProfile-wraper {
  text-align: center;
  background-color: var(--primary-white);
}

.getProfile-wraper button {
  background-color: var(--primary-blue) !important;
  margin: 0.5rem;
}

.getProfile-wraper p {
  font-size: 1.3rem !important;
}

.email {
  color: var(--primary-green);
}

/*  --------------------- Profile Info Section------------------- */
.info-wraper {
  text-align: center;
  width: 70%;
  padding: 1rem;
  padding-bottom: 2rem;
}

.info-wraper p {
  font-size: 1.3rem;
  border: 0.3rem solid var(--primary-black);
  border-radius: 20%;
}

.info-wraper h2 {
  padding-top: 1rem;
  text-transform: uppercase;
}

.info-wraper img {
  border-radius: 50% !important;
  box-shadow: 0.1rem 0.1rem 0.1rem 0.1rem grey;
}

/*  --------------------- Modal ------------------- */

.catagory-modal {
  background-color: var(--primary-blue);
  box-shadow: 0.8rem 1rem 1rem var(--primary-black);
  position: absolute;
  padding: 3rem;
  padding-top: 4rem;
  width: 30rem;
  justify-content: "center";
  align-items: "center";
  margin: 0 auto;
  top: 25%;
  right: 30%;
}

.catagory-modal button {
  background-color: var(--primary-black);
  color: var(--primary-white);
}

.exit-button {
  position: absolute;
  right: 5%;
  top: 5%;
}

.catagory-modal h3 {
  position: absolute;
  left: 6%;
  top: 6%;
}

/*  --------------------- Cards ------------------- */
.cards-container {
  padding-top: 2rem;
}


.card {
  margin: 0.8rem;
  background-color: var(--secondary-blue);
  color: var(--primary-white);
  box-shadow: 0.10rem 0.10rem 0.10rem 0.10rem var(--secondary-grey);
}

.add-button {
  margin-left: 16.5rem;
  margin-top: 2rem;
  background-color: var(--primary-black);
  color: var(--primary-white);
}

.card a {
  background-color: var(--primary-blue);
  margin: 0.1rem;
  color: var(--primary-white);
  padding: 0.5rem;
}

.card a:hover {
padding: 0.6rem;
}

/*  --------------------- Journal Entree Section ------------------- */
.entry-form {
  border: 0.1rem solid var(--primary-black);
  padding: 2rem;
}

.form {
  color: var(--primary-grey);
  font-size: 1.5rem;
  width: 80%;
  height: 3.125rem;
  position: relative;
}

.form input {
  width: 100%;
  height: 100%;
  padding-top: 1.25rem;
  border: none;
  padding-bottom: 2rem;
  outline: none;
}
.form label {
  position: absolute;
  bottom: 0rem;
  left: 0rem;
  width: 100%;
  height: 100%;
  pointer-events: none;
  border-bottom: 0.1rem solid black;
}

.form input:focus + .label-title .content-title,
.form input:valid + .label-title .content-title {
  display: none;
}

.form-entry {
  color: var(--primary-grey);
  font-size: 1.5rem;
  width: 80%;
  height: 30rem;
  position: relative;
}

.form-entry input {
  border: none;
  padding-bottom: 2rem;
  outline: none;
}
.form-entry label {
  position: absolute;
  bottom: 0rem;
  left: 0rem;
  width: 100%;
  height: 100%;
  pointer-events: none;
  padding-top: 0.5rem;
}

.form-entry input:focus + .label-entry .content-entry,
.form-entry input:valid + .label-entry .content-entry {
  display: none;
}
